<div class="alert{{#each classes }} {{this}}{{/each}}">
	{{#content }}
		{{#isObj info}}
			{{#info}}
				<p>Баланс: {{balance}}</p>
				<p>ID карты: {{ean13}}</p>
				<p>ФИО: {{name}}</p>
				<p>email: 
					{{#if email}}
						{{email}}
					{{else}}
						-
					{{/if}}
				</p>
			{{/info}}
		{{else}}
			{{#isObj this}}
				<p>{{info}}</p>
			{{else}}
				<p>{{this}}</p>
			{{/isObj}}
		{{/isObj}}
	{{/content}}
</div>

