{{#blocks }}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<div class="row">
				<div class="col-md-6 pull-left">
					{{ date }}
				</div>
				<div class="col-md-6 pull-right text-right">
					<strong>
					Баланс:
					</strong>
					<span class="balance balance--before">
						{{ balance_before }}
					</span>
					<span class="balance balance--arrow">
						>
					</span>
					<span class="balance balance--after">
						{{ balance_after }}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6 text-left">
				<strong>Операция: {{ operation_descr }} </strong>
			</div>
			{{#if client}}
				<div class="col-md-6 text-right">
					Клиент/Контрагент : {{ client }}
				</div>
			{{/if}}
			{{#if partner}}
				<div class="col-md-6 text-right">
					Партнер : {{ partner }}
				</div>
			{{/if}}
			<div class="col-md-6 text-left">
				<strong>
					{{#if sum_minus_partner }}
						Списано: <span class="sum"> {{ sum_minus_partner }}</span>
					{{else}}
						Зачислено: <span class="sum"> {{ sum_plus_partner }}</span>
					{{/if}}
				</strong>
			</div>
			<div class="col-md-6 text-right">
				<strong>Комиссия:</strong><span class="sum"> {{ sum_comission_partner }}</span>
			</div>
		</div>
	</div>
</div>
{{/blocks}}

